<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="img/hero/picture1.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">PHIM LỊCH SỬ</div>
                            <h2 style="color:rgb(239, 13, 13)">MƯA ĐỎ</h2>
                            <p>Mưa đỏ là một bộ phim điện ảnh Việt Nam thuộc thể loại lịch sử – chiến tranh – chính kịch ra mắt năm 2025</p>
                            {{#if user}}
                            <a href="/movies/6945594bc7462d51b1f15520/watch"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            {{else}}
                            <a href="/login" style="background-color: #f39c12;"><span>Đăng nhập để xem</span> <i class="fa fa-lock"></i></a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/hero/picture2.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">PHIM HÀNH ĐỘNG</div>
                            <h2 style="color:rgb(239, 13, 13)">CHỊ DÂU</h2>
                            <p>Chị dâu là bộ phim điện ảnh Việt Nam năm 2024 thuộc thể loại hài – chính kịch</p>
                            {{#if user}}
                            <a href="/movies/69455947c7462d51b1f14ca7/watch"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            {{else}}
                            <a href="/login" style="background-color: #f39c12;"><span>Đăng nhập để xem</span> <i class="fa fa-lock"></i></a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/hero/picture3.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">PHIM LỊCH SỬ</div>
                            <h2 style="color:rgb(239, 13, 13)">ĐỊA ĐẠO: MẶT TRỜI TRONG BÓNG TỐI</h2>
                            <p>Địa đạo: Mặt trời trong bóng tối là một bộ phim điện ảnh Việt Nam thuộc thể loại lịch sử – chiến tranh – chính kịch</p>
                            {{#if user}}
                            <a href="/movies/69455950c7462d51b1f15c9d/watch"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            {{else}}
                            <a href="/login" style="background-color: #f39c12;"><span>Đăng nhập để xem</span> <i class="fa fa-lock"></i></a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Trending Movies Section -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h4>Phim Trending</h4>
                </div>
            </div>
        </div>
        <div class="row">
            {{#if trendingMovies}}
                {{#each trendingMovies}}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="product__item">
                        <div class="product__item__pic" style="position: relative; min-height: 300px; overflow: hidden; background: #f0f0f0;">
                            <img src="{{movieImage poster imgId @index}}" 
                                 alt="{{title}}" 
                                 style="width: 100%; height: 300px; object-fit: cover; display: block;"
                                 onerror="this.src='/img/popular/popular-1.jpg'">
                        </div>
                        <div class="product__item__text">
                            <ul>
                                {{#if genres}}
                                <li>{{genres}}</li>
                                {{else}}
                                <li>Movie</li>
                                {{/if}}
                                {{#if releaseDate}}
                                <li>{{releaseDate}}</li>
                                {{/if}}
                            </ul>
                            <h5><a href="/movies/{{_id}}">{{title}}</a></h5>
                            {{#if rating}}
                            <p><i class="fa fa-star" style="color: gold;"></i> {{rating}}/10</p>
                            {{/if}}
                            <div class="mt-2">
                                {{#if ../user}}
                                    {{#if _id}}
                                    <a href="/movies/{{_id}}/watch" class="btn btn-sm btn-primary">
                                        <i class="fa fa-play"></i> Xem Trailer
                                    </a>
                                    {{/if}}
                                {{else}}
                                    <a href="/login" class="btn btn-sm btn-warning">
                                        <i class="fa fa-lock"></i> Đăng nhập để xem
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            {{else}}
                <div class="col-lg-12">
                    <p>Không có phim trending.</p>
                </div>
            {{/if}}
        </div>
    </div>
</section>

<!-- Popular Movies Section -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h4>Phim Popular</h4>
                </div>
            </div>
        </div>
        <div class="row">
            {{#if popularMovies}}
                {{#each popularMovies}}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="product__item">
                        <div class="product__item__pic" style="position: relative; min-height: 300px; overflow: hidden; background: #f0f0f0;">
                            <img src="{{movieImage poster imgId @index}}" 
                                 alt="{{title}}" 
                                 style="width: 100%; height: 300px; object-fit: cover; display: block;"
                                 onerror="this.src='/img/popular/popular-1.jpg'">
                        </div>
                        <div class="product__item__text">
                            <ul>
                                {{#if genres}}
                                <li>{{genres}}</li>
                                {{else}}
                                <li>Movie</li>
                                {{/if}}
                                {{#if releaseDate}}
                                <li>{{releaseDate}}</li>
                                {{/if}}
                            </ul>
                            <h5><a href="/movies/{{_id}}">{{title}}</a></h5>
                            {{#if rating}}
                            <p><i class="fa fa-star" style="color: gold;"></i> {{rating}}/10</p>
                            {{/if}}
                            <div class="mt-2">
                                {{#if ../user}}
                                    {{#if _id}}
                                    <a href="/movies/{{_id}}/watch" class="btn btn-sm btn-primary">
                                        <i class="fa fa-play"></i> Xem Trailer
                                    </a>
                                    {{/if}}
                                {{else}}
                                    <a href="/login" class="btn btn-sm btn-warning">
                                        <i class="fa fa-lock"></i> Đăng nhập để xem
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            {{else}}
                <div class="col-lg-12">
                    <p>Không có phim popular.</p>
                </div>
            {{/if}}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="/movies" class="btn btn-primary">Xem tất cả phim</a>
            </div>
        </div>
    </div>
</section>